@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Shadows+Into+Light+Two&display=swap");

ul {
  list-style-type: none;
  margin: 0;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  padding: 1rem;
}

.darkSwitch {
  float: right;
  margin: 0px;
}
/* header toggle */
.header {
  background-color: #ebc45e;
  padding: 1rem;
}

.header a {
  color: #1c1300;
  font-size: 20px;
  padding-right: 1.5rem;
}

.header-dark {
  background-color: #30230a;
  padding: 1rem;
}

.header-dark a {
  color: #ded4b9;
  font-size: 20px;
  padding-right: 1.5rem;
}
